In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import re

In [6]:
df1 = pd.read_csv('df_1.csv')

In [7]:
df1

                                             RM
0                                      WINNIPEG
1                              BIFROST-RIVERTON
2                              EMERSON-FRANKLIN
3                                      ROCKWOOD
4                                     ARMSTRONG
..                                          ...
472      MUNICIPAL DISTRICT OF FAIRVIEW NO. 136
473                                CLEAR HILLS
474                              Grande Prairie
475                               SADDLE HILLS
476  MUNICIPAL DISTRICT OF SPIRIT RIVER NO. 133

[477 rows x 1 columns]

In [8]:
df2 = pd.read_csv('df_2.csv')

In [9]:
df2

                    RM
0                    1
1                   10
2                  100
3                  101
4                  102
..                 ...
459          Wheatland
460       Willow Creek
461   Woodlands County
462         YELLOWHEAD
463  Yellowhead County

[464 rows x 1 columns]

In [10]:
def clean_text(text):
    # Remove special characters and digits
    text_cleaned = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Keeps only letters and spaces
    # Remove spaces
    text_cleaned = text_cleaned.replace(' ', '')
    # Convert to uppercase
    text_cleaned = text_cleaned.upper()
    return text_cleaned

In [11]:
dfc1 = df1['RM'].apply(clean_text)

In [12]:
dfc1

0                                 WINNIPEG
1                          BIFROSTRIVERTON
2                          EMERSONFRANKLIN
3                                 ROCKWOOD
4                                ARMSTRONG
                      ...
472       MUNICIPALDISTRICTOFFAIRVIEWNO136
473                             CLEARHILLS
474                          GRANDEPRAIRIE
475                            SADDLEHILLS
476    MUNICIPALDISTRICTOFSPIRITRIVERNO133
Name: RM, Length: 477, dtype: object

In [13]:
dfc2 = df2['RM'].apply(clean_text)

In [14]:
dfc2

0                     1
1                    10
2                   100
3                   101
4                   102
             ...
459           WHEATLAND
460         WILLOWCREEK
461     WOODLANDSCOUNTY
462          YELLOWHEAD
463    YELLOWHEADCOUNTY
Name: RM, Length: 464, dtype: object

In [15]:
dfc2.shape

(464,)

In [16]:
dfc1.shape

(477,)

In [17]:
dfc2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 464 entries, 0 to 463
Series name: RM
Non-Null Count  Dtype
--------------  -----
464 non-null    object
dtypes: object(1)
memory usage: 3.8+ KB

In [18]:
df_allValues = pd.concat([dfc1,dfc2])

In [19]:
unique_series = df_allValues.unique()

In [20]:
kalp = len(unique_series)

In [21]:
kalp

500

In [22]:
unique_series

array(['WINNIPEG', 'BIFROSTRIVERTON', 'EMERSONFRANKLIN', 'ROCKWOOD',
       'ARMSTRONG', 'GIMLI', 'WESTSTPAUL', 'SPRINGFIELD', 'STCLEMENTS',
       'STANDREWS', 'RITCHOT', 'HANOVER', 'TACHE', 'DESALABERRY',
       'REYNOLDS', 'LACDUBONNET', 'LABROQUERIE', 'STEANNE', 'BROKENHEAD',
       'STUARTBURN', 'ALEXANDER', 'MONTCALM', 'MACDONALD', 'MORRIS',
       'RHINELAND', 'HEADINGLEY', 'ROSSER', 'DALLASREDROSE', 'PINEY',
       'WHITEMOUTH', 'PINAWA', 'FISHER', 'TWOBORDERS', 'NORTHNORFOLK',
       'LORNE', 'NORFOLKTREHERNE', 'WESTINTERLAKE', 'GRAHAMDALE',
       'PEMBINA', 'WESTLAKEGLADSTONE', 'CARTIER', 'SWANVALLEYWEST',
       'ELLICEARCHIE', 'ROBLIN', 'WALLACEWOODWORTH', 'PIPESTONE',
       'DELORAINEWINCHESTER', 'RUSSELLBINSCARTH', 'GRASSLAND',
       'RIDINGMOUNTAINWEST', 'ROSSBURN', 'GRANDVIEW', 'HAMIOTA',
       'YELLOWHEAD', 'MINITONASBOWSMAN', 'MOUNTAIN', 'BRENDAWASKADA',
       'PRAIRIEVIEW', 'SIFTON', 'VIRDEN', 'MCCREARY', 'LAKESHORE',
       'PRAIRIELAKES', 'GLENBOROSOUTHCYPRESS', 'KILLARNEYTURTLEMTN',
       'WATERHEN', 'KELSEY', 'MEADOWPORTAGE', 'MINTOODANAH', 'CORNWALLIS',
       'ELTON', 'MOSSEYRIVER', 'CLANWILLIAMERICKSON', 'BRANDON',
       'OAKLANDWAWANESA', 'SALTPOINT', 'DAUPHIN', 'HARRISONPARK',
       'BOISSEVAINMORTON', 'OAKVIEW', 'WOODLANDS', 'ALONSA', 'LOUISE',
       'CARTWRIGHTROBLIN', 'NORTHCYPRESSLANGFORD', 'VICTORIA',
       'GLENELLALANSDOWNE', 'ARGYLE', 'PORTAGELAPRAIRIE', 'DUFFERIN',
       'GREY', 'THOMPSON', 'GILBERTPLAINS', 'WHITEHEAD', 'RIVERDALE',
       'HARWILL', 'ETHELBERT', 'ROLAND', 'COLDWELL', 'STLAURENT',
       'STANLEY', 'STFRANCISXAVIER', 'SOURISGLENWOOD', 'ROSEDALE',
       'STEROSE', 'HOMEBROOKPEONANPOINT', '1', '31', '61', '91', '121',
       '151', '152', '181', '211', '241', '271', '301', '331', '394', '2',
       '32', '92', '122', '3', '33', '63', '93', '123', '153', '183',
       '213', '243', '273', '303', '333', '4', '34', '64', '94', '124',
       '154', '184', '214', '244', '274', '304', '334', '395', '5', '35',
       '65', '95', '125', '185', '215', '245', '275', '305', '335', '486',
       '155', '456', '426', '6', '36', '66', '96', '126', '186', '216',
       '246', '276', '336', '366', '156', '488', '7', '37', '67', '97',
       '127', '187', '217', '247', '277', '307', '337', '367', '397',
       '427', '457', '487', '157', '8', '38', '68', '98', '128', '218',
       '248', '279', '308', '338', '368', '398', '428', '458', '158', '9',
       '39', '69', '99', '129', '159', '189', '219', '309', '339', '369',
       '399', '429', '459', '220', '250', '10', '40', '70', '100', '130',
       '160', '280', '310', '340', '370', '400', '430', '461', '490',
       '520', '190', '221', '460', '251', '11', '71', '101', '131', '161',
       '281', '312', '341', '371', '401', '431', '491', '42', '191',
       '521', '222', '252', '342', '402', '12', '72', '102', '132', '162',
       '282', '372', '43', '73', '103', '133', '163', '193', '223', '253',
       '313', '343', '463', '493', '373', '403', '283', '314', '464',
       '44', '74', '104', '134', '164', '194', '224', '254', '344', '434',
       '494', '404', '284', '315', '345', '555', '45', '75', '105', '135',
       '165', '255', '405', '225', '285', '435', '496', '466', '17', '46',
       '76', '106', '136', '166', '226', '256', '316', '346', '376',
       '286', '406', '436', '77', '107', '137', '167', '257', '287',
       '317', '347', '377', '467', '497', '588', '228', '437', '438',
       '18', '78', '108', '138', '168', '288', '318', '378', '409', '468',
       '498', '259', '349', '379', '19', '49', '79', '109', '139', '169',
       '229', '290', '319', '469', '499', '561', '350', '439', '470',
       '622', '380', '110', '230', '260', '320', '410', '471', '501',
       '351', '381', '440', '51', '171', '111', '141', '231', '261',
       '321', '411', '442', '472', '502', '352', '382', '292', '322',
       '142', '232', 'CYPRESS', 'SPECIALAREASNO2',
       'MUNICIPALDISTRICTOFACADIANO34', 'SPECIALAREASNO3',
       'SPECIALAREA04', 'PROVOST', 'WAINWRIGHT', 'VERMILIONRIVER',
       'MUNICIPALDISTRICTOFBONNYVILLENO87', 'FORTYMILE\t', 'PAINTEARTH',
       'FLAGSTAFF', 'MINBURN', 'TWOHILLS\t', 'STPAUL\t', 'LACLABICHE',
       'WARNER', 'NEWELL', 'BEAVER', 'SMOKYLAKE',
       'MUNICIPALDISTRICTOFTABER', 'STETTLER', 'STARLAND', 'LAMONT',
       'ATHABASCA', 'VULCAN', 'WHEATLAND', 'CAMROSE', 'THORHILD',
       'LETHBRIDGE', 'CARDSTON', 'MUNICIPALDISTRICTOFOPPORTUNITYNO17',
       'KNEEHILL', 'STRATHCONA', 'IDNO13ELKISLAND', 'STURGEON', 'REDDEER',
       'LEDUC', 'LACOMBE', 'PONOKA', 'WETASKIWIN', 'WESTLOCK',
       'MUNICIPALDISTRICTOFLESSERSLAVERIVERNO124', 'WILLOWCREEK',
       'ROCKYVIEW', 'FOOTHILLS', 'PARKLAND', 'MOUNTAINVIEW',
       'PINCHERCREEK', 'IDNO4WATERTON',
       'MUNICIPALDISTRICTOFRANCHLANDNO66', 'LACSTEANNE', 'BARRHEAD',
       'MACKENZIE', 'CLEARWATER', 'BRAZEAU', 'BIGLAKES',
       'NORTHERNSUNRISE', 'NORTHERNLIGHTS',
       'MUNICIPALDISTRICTOFGREENVIEWNO16',
       'MUNICIPALDISTRICTOFSMOKYRIVERNO130',
       'MUNICIPALDISTRICTOFPEACENO135', 'BIRCHHILLS',
       'KANANASKISIMPROVEMENTDISTRICT', 'MUNICIPALITYOFCROWSNESTPASS',
       'MUNICIPALDISTRICTOFBIGHORNNO8',
       'MUNICIPALDISTRICTOFFAIRVIEWNO136', 'CLEARHILLS', 'GRANDEPRAIRIE',
       'SADDLEHILLS', 'MUNICIPALDISTRICTOFSPIRITRIVERNO133', '278',
       'ACADIA', 'BADLANDS', 'BONNYVILLE', 'EASTSTPAUL', 'EDMONTON',
       'FAIRVIEW', 'FORTYMILE', 'GREENVIEW', 'HILLSBURGROBLINSHELLRIVER',
       'LACSTEANNECOUNTY', 'LESSERSLAVERIVER', 'OPPORTUNITY',
       'PARKLANDCOUNTY', 'PEACE', 'SASKATCHEWAN', 'SMOKYRIVER',
       'SPECIALAREA02', 'SPECIALAREA03', 'SPIRITRIVER', 'STPAUL',
       'STRATHCONACOUNTY', 'TABER', 'TWOHILLS', 'UNORGTERRITORY',
       'WOODLANDSCOUNTY', 'YELLOWHEADCOUNTY'], dtype=object)