In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import re

In [4]:
df1 = pd.read_csv('df_1.csv')

In [5]:
df1

                                             RM
0                                      WINNIPEG
1                              BIFROST-RIVERTON
2                              EMERSON-FRANKLIN
3                                      ROCKWOOD
4                                     ARMSTRONG
..                                          ...
472      MUNICIPAL DISTRICT OF FAIRVIEW NO. 136
473                                CLEAR HILLS
474                              Grande Prairie
475                               SADDLE HILLS
476  MUNICIPAL DISTRICT OF SPIRIT RIVER NO. 133

[477 rows x 1 columns]

In [6]:
df2 = pd.read_csv('df_2.csv')

In [7]:
df2

                    RM
0                    1
1                   10
2                  100
3                  101
4                  102
..                 ...
459          Wheatland
460       Willow Creek
461   Woodlands County
462         YELLOWHEAD
463  Yellowhead County

[464 rows x 1 columns]

In [8]:
def clean_text(text):
    # Remove special characters and digits
    text_cleaned = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Keeps only letters and spaces
    # Remove spaces
    # Convert to uppercase
    text_cleaned = text_cleaned.upper()
    return text_cleaned

In [9]:
dfc1 = df1['RM'].apply(clean_text).str.strip()

In [10]:
dfc1

0                                       WINNIPEG
1                                BIFROSTRIVERTON
2                                EMERSONFRANKLIN
3                                       ROCKWOOD
4                                      ARMSTRONG
                         ...
472        MUNICIPAL DISTRICT OF FAIRVIEW NO 136
473                                  CLEAR HILLS
474                               GRANDE PRAIRIE
475                                 SADDLE HILLS
476    MUNICIPAL DISTRICT OF SPIRIT RIVER NO 133
Name: RM, Length: 477, dtype: object

In [11]:
dfc2 = df2['RM'].apply(clean_text).str.strip()

In [12]:
dfc2

0                      1
1                     10
2                    100
3                    101
4                    102
             ...
459            WHEATLAND
460         WILLOW CREEK
461     WOODLANDS COUNTY
462           YELLOWHEAD
463    YELLOWHEAD COUNTY
Name: RM, Length: 464, dtype: object

In [13]:
dfc2.shape

(464,)

In [14]:
dfc1.shape

(477,)

In [15]:
dfc2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 464 entries, 0 to 463
Series name: RM
Non-Null Count  Dtype
--------------  -----
464 non-null    object
dtypes: object(1)
memory usage: 3.8+ KB

In [16]:
df_allValues = pd.concat([dfc1,dfc2])

In [17]:
unique_series = df_allValues.unique()

In [18]:
kalp = len(unique_series)

In [19]:
kalp

497

In [20]:
unique_series

array(['WINNIPEG', 'BIFROSTRIVERTON', 'EMERSONFRANKLIN', 'ROCKWOOD',
       'ARMSTRONG', 'GIMLI', 'WEST ST PAUL', 'SPRINGFIELD', 'ST CLEMENTS',
       'ST ANDREWS', 'RITCHOT', 'HANOVER', 'TACHE', 'DESALABERRY',
       'REYNOLDS', 'LAC DU BONNET', 'LA BROQUERIE', 'STE ANNE',
       'BROKENHEAD', 'STUARTBURN', 'ALEXANDER', 'MONTCALM', 'MACDONALD',
       'MORRIS', 'RHINELAND', 'HEADINGLEY', 'ROSSER', 'DALLASRED ROSE',
       'PINEY', 'WHITEMOUTH', 'PINAWA', 'FISHER', 'TWO BORDERS',
       'NORTH NORFOLK', 'LORNE', 'NORFOLKTREHERNE', 'WEST INTERLAKE',
       'GRAHAMDALE', 'PEMBINA', 'WESTLAKEGLADSTONE', 'CARTIER',
       'SWAN VALLEY WEST', 'ELLICEARCHIE', 'ROBLIN', 'WALLACEWOODWORTH',
       'PIPESTONE', 'DELORAINEWINCHESTER', 'RUSSELLBINSCARTH',
       'GRASSLAND', 'RIDING MOUNTAIN WEST', 'ROSSBURN', 'GRANDVIEW',
       'HAMIOTA', 'YELLOWHEAD', 'MINITONASBOWSMAN', 'MOUNTAIN',
       'BRENDAWASKADA', 'PRAIRIE VIEW', 'SIFTON', 'VIRDEN', 'MCCREARY',
       'LAKESHORE', 'PRAIRIE LAKES', 'GLENBOROSOUTH CYPRESS',
       'KILLARNEYTURTLE MTN', 'WATERHEN', 'KELSEY', 'MEADOW PORTAGE',
       'MINTOODANAH', 'CORNWALLIS', 'ELTON', 'MOSSEY RIVER',
       'CLANWILLIAMERICKSON', 'BRANDON', 'OAKLANDWAWANESA', 'SALT POINT',
       'DAUPHIN', 'HARRISON PARK', 'BOISSEVAINMORTON', 'OAKVIEW',
       'WOODLANDS', 'ALONSA', 'LOUISE', 'CARTWRIGHTROBLIN',
       'NORTH CYPRESSLANGFORD', 'VICTORIA', 'GLENELLALANSDOWNE', 'ARGYLE',
       'PORTAGE LA PRAIRIE', 'DUFFERIN', 'GREY', 'THOMPSON',
       'GILBERT PLAINS', 'WHITEHEAD', 'RIVERDALE', 'HARWILL', 'ETHELBERT',
       'ROLAND', 'COLDWELL', 'ST LAURENT', 'STANLEY', 'ST FRANCIS XAVIER',
       'SOURISGLENWOOD', 'ROSEDALE', 'STE ROSE', 'HOMEBROOKPEONAN POINT',
       '1', '31', '61', '91', '121', '151', '152', '181', '211', '241',
       '271', '301', '331', '394', '2', '32', '92', '122', '3', '33',
       '63', '93', '123', '153', '183', '213', '243', '273', '303', '333',
       '4', '34', '64', '94', '124', '154', '184', '214', '244', '274',
       '304', '334', '395', '5', '35', '65', '95', '125', '185', '215',
       '245', '275', '305', '335', '486', '155', '456', '426', '6', '36',
       '66', '96', '126', '186', '216', '246', '276', '336', '366', '156',
       '488', '7', '37', '67', '97', '127', '187', '217', '247', '277',
       '307', '337', '367', '397', '427', '457', '487', '157', '8', '38',
       '68', '98', '128', '218', '248', '279', '308', '338', '368', '398',
       '428', '458', '158', '9', '39', '69', '99', '129', '159', '189',
       '219', '309', '339', '369', '399', '429', '459', '220', '250',
       '10', '40', '70', '100', '130', '160', '280', '310', '340', '370',
       '400', '430', '461', '490', '520', '190', '221', '460', '251',
       '11', '71', '101', '131', '161', '281', '312', '341', '371', '401',
       '431', '491', '42', '191', '521', '222', '252', '342', '402', '12',
       '72', '102', '132', '162', '282', '372', '43', '73', '103', '133',
       '163', '193', '223', '253', '313', '343', '463', '493', '373',
       '403', '283', '314', '464', '44', '74', '104', '134', '164', '194',
       '224', '254', '344', '434', '494', '404', '284', '315', '345',
       '555', '45', '75', '105', '135', '165', '255', '405', '225', '285',
       '435', '496', '466', '17', '46', '76', '106', '136', '166', '226',
       '256', '316', '346', '376', '286', '406', '436', '77', '107',
       '137', '167', '257', '287', '317', '347', '377', '467', '497',
       '588', '228', '437', '438', '18', '78', '108', '138', '168', '288',
       '318', '378', '409', '468', '498', '259', '349', '379', '19', '49',
       '79', '109', '139', '169', '229', '290', '319', '469', '499',
       '561', '350', '439', '470', '622', '380', '110', '230', '260',
       '320', '410', '471', '501', '351', '381', '440', '51', '171',
       '111', '141', '231', '261', '321', '411', '442', '472', '502',
       '352', '382', '292', '322', '142', '232', 'CYPRESS',
       'SPECIAL AREAS NO 2', 'MUNICIPAL DISTRICT OF ACADIA NO 34',
       'SPECIAL AREAS NO 3', 'SPECIAL AREA 04', 'PROVOST', 'WAINWRIGHT',
       'VERMILION RIVER', 'MUNICIPAL DISTRICT OF BONNYVILLE NO 87',
       'FORTY MILE', 'PAINTEARTH', 'FLAGSTAFF', 'MINBURN', 'TWO HILLS',
       'ST PAUL', 'LAC LA BICHE', 'WARNER', 'NEWELL', 'BEAVER',
       'SMOKY LAKE', 'MUNICIPAL DISTRICT OF TABER', 'STETTLER',
       'STARLAND', 'LAMONT', 'ATHABASCA', 'VULCAN', 'WHEATLAND',
       'CAMROSE', 'THORHILD', 'LETHBRIDGE', 'CARDSTON',
       'MUNICIPAL DISTRICT OF OPPORTUNITY NO 17', 'KNEEHILL',
       'STRATHCONA', 'ID NO 13 ELK ISLAND', 'STURGEON', 'RED DEER',
       'LEDUC', 'LACOMBE', 'PONOKA', 'WETASKIWIN', 'WESTLOCK',
       'MUNICIPAL DISTRICT OF LESSER SLAVE RIVER NO 124', 'WILLOW CREEK',
       'ROCKY VIEW', 'FOOTHILLS', 'PARKLAND', 'MOUNTAIN VIEW',
       'PINCHER CREEK', 'ID NO 4 WATERTON',
       'MUNICIPAL DISTRICT OF RANCHLAND NO 66', 'LAC STE ANNE',
       'BARRHEAD', 'MACKENZIE', 'CLEARWATER', 'BRAZEAU', 'BIG LAKES',
       'NORTHERN SUNRISE', 'NORTHERN LIGHTS',
       'MUNICIPAL DISTRICT OF GREENVIEW NO 16',
       'MUNICIPAL DISTRICT OF SMOKY RIVER NO 130',
       'MUNICIPAL DISTRICT OF PEACE NO 135', 'BIRCH HILLS',
       'KANANASKIS IMPROVEMENT DISTRICT',
       'MUNICIPALITY OF CROWSNEST PASS',
       'MUNICIPAL DISTRICT OF BIGHORN NO 8',
       'MUNICIPAL DISTRICT OF FAIRVIEW NO 136', 'CLEAR HILLS',
       'GRANDE PRAIRIE', 'SADDLE HILLS',
       'MUNICIPAL DISTRICT OF SPIRIT RIVER NO 133', '278', 'ACADIA',
       'BADLANDS', 'BONNYVILLE', 'EAST ST PAUL', 'EDMONTON', 'FAIRVIEW',
       'GREENVIEW', 'HILLSBURGROBLINSHELL RIVER', 'LAC STE ANNE COUNTY',
       'LESSER SLAVE RIVER', 'OPPORTUNITY', 'PARKLAND COUNTY', 'PEACE',
       'SASKATCHEWAN', 'SMOKY RIVER', 'SPECIAL AREA 02',
       'SPECIAL AREA 03', 'SPIRIT RIVER', 'STRATHCONA COUNTY', 'TABER',
       'UNORG TERRITORY', 'WOODLANDS COUNTY', 'YELLOWHEAD COUNTY'],
      dtype=object)